body {
  font-family: Agbalumo, san-serif;
  background-color: antiquewhite;
}
a:link, a:visited {
  color: black;
  text-decoration: none;
}
header.primary{
  background-color: #665355;
  padding: 10px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}
header.primary .hgroup{
  width:50%;
}
header.primary nav{
  width:50%;
  margin:0;
}

header.primary nav ul{
  list-style-type:none;
  margin:0;
}

header.primary nav ul li{
  display: inline;
  margin-bottom:10px;
}

header.primary nav a{
  color:#fff;
  text-decoration:none;
  display:block;
  padding:10px;
  text-align:right;
}
section {
  margin-left: 15%;
  margin-right: 15%;
}
iframe {
  position: relative;
  margin-left: 15px;
}
footer {
  background-color: #5f684d;
  padding: 10px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}